
@{
    ViewBag.Title = "Forbidden";
}

<div class="container text-center">
    <h1>An Error has occurred.</h1>
    <h2>403 - Forbidden</h2>
    <p>You don't have permission to access this resource. Please contact administration for assistance.</p>
    <img src="~/images/android-chrome-512x512.png" />
    <h2>Please contact administration <a href="mailto:administration@mephisto.com">administration@mephisto.com</a> and reload the page!</h2>
    <div class="container text-center">
    </div>
</div>