
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h1>An Error has occurred.</h1>
    <h2>404 - Page Not Found</h2>
    <p>The requested page could not be found. Please check the URL and try again.</p>
    <img src="~/images/android-chrome-512x512.png" />
    <h2>Please contact administration <a href="mailto:administration@mephisto.com">administration@mephisto.com</a> and reload the page!</h2>
    <div class="container text-center">
    </div>
</div>