@model object
@{
    ViewBag.Title = "Admin Dashboard";
}

<h2>@ViewBag.Title</h2>

<div class="btn-group">
    @Html.ActionLink("Manage Users", "ManageUsers", "Admin", null, new { @class = "btn btn-primary btn-lg" })
    @Html.ActionLink("Manage Categories", "ManageCategories", "Admin", null, new { @class = "btn btn-primary btn-lg" })
    @Html.ActionLink("Manage Posts", "ManagePosts", "Admin", null, new { @class = "btn btn-primary btn-lg" })
</div>