@model PagedList.IPagedList<DGrabowski_MephistoTheatreApp.Models.Post>

@foreach (var post in Model)
{
    <div class="col-lg-6 mb-4">
        <div class="card mb-4">
            @if (post.Category != null)
            {
                <a href="/Posts/Details/@post.PostId">
                    <img class="card-img-top" src="@Url.Content(post.Category.ImagePath)" alt="..." style="width: 100%; height: 100%;" />
                </a>
            }
            <div class="card-body">
                <div class="small text-muted">@post.CreatedAt.ToString("MMMM d, yyyy")</div>
                <h2 class="card-title h4">@post.Title</h2>
                <p class="card-text">@Html.Raw(post.Body.Length > 120 ? post.Body.Substring(0, 120) + "..." : post.Body)</p>
                <a class="btn btn-primary" href="/Posts/Details/@post.PostId">Read more →</a>
            </div>
        </div>
    </div>
}