@{
    ViewBag.Title = "Contact";
}

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-6">
            <section id="contactInfo" class="fw-bold">
                <h4>Contact Information</h4>
                <p>
                    Mephisto Theatre<br />
                    123 Morning Star Road<br />
                    Heaven, Hell<br />
                    Phone: (123) 456-7890<br /><br /><br />

                    Support: EveningStar@mephistotheatre.com<br />
                    Marketing: MorningStar@mephistotheatre.com<br />
                    <br />
                    We are open 24 hours 7 days a week.
                </p>
            </section>
        </div>
        <div class="col-md-6">
            <img src="~/images/masks.png" alt="Contact Image" class="img-fluid" />
        </div>
    </div>
</main>