@{
    ViewBag.Title = "Registration Confirmation";
}

<div style="text-align: center; color: green; font-weight: bold; font-size: 24px;">
    <p>Registration was successful!</p>
    <p>Welcome, @User.Identity.Name!</p>
</div>

<div style="text-align: center; margin-top: 20px;">
    <img src="~/images/welcometotheshow.png" alt="Welcome Image" style="max-width: 200px; max-height: 200px;" />
</div>

    <div style="text-align: center; margin-top: 20px;">
        <a href="url_to_blog" class="btn btn-warning" style="border: 2px solid #000; color: #000;">
            GO TO BLOG
        </a>
    </div>
